# Installation and first step with Jupyter Notebook

This first tutorial about Python will introduce through examples the key elements of the Python 3.X language syntax (datatypes, variables, loops, conditionals...).

There are several ways and softwares to implement scripts and applications in Python:

 * The instructions can be executed in a Python command line,
 * The instructions can be executed from a Python editor (e.g. Spyder or PyCharm),
 * The instructions can be executed in cells of a notebook (e.g. Jupyter Notebook).

In this tutorial, we will use **Jupyter Notebook**.


In each **cell**, you can write Python scripts and instructions. Click on the "Execute" button to execute the current cell instructions and observe the output just below the cell. 

A next script can be written in the following cell (but the previous cells can still be modified and executed again).

Variables and functions defined in a cell that has already been executed are kept in memory and can be used in the following cells.

Note: files in Jupyter Notebook are saved as .ipynb files (that are Python file augmented with information related to cells. But the file can also be downloaded as Python file (.py) and can then be executed with another Python editor (e.g. Spyder).

# First steps with Python

## Exercise 1: Make calculation in Python

_Try, by executing them, to understand what each instruction (uncommented) does in the examples below. Write each instruction (or set of instructions) in a cell and execute it  to observe the result. A cell will display the last evaluated expression (in Out\[N\]:) and all the print functions._

In [1]:
5+3

8

In [2]:
5*3

15

In [3]:
5**3

125

In [4]:
# declaration of a variable x with value 1 (# for comment)
x = 1 
x       # display x

1

In [5]:
# declaration of 3 variables a, b and c of values resp. 3, 5 and 7
a,b,c=3,5,7

In [6]:
# The print  function can display the 3 variables at once
print(a,b,c)

3 5 7

In [7]:
a-b/c

2.2857142857142856

In [8]:
(a-b)/c

-0.2857142857142857

In [9]:
# The use of several print functions in a single cell makes it display several outputs.
print(c/a)
print(c//a)

2.3333333333333335
2

In [10]:
b%c

5

In [11]:
d=1.1
print(d/a)
print(d//a)

0.3666666666666667
0.0

Many functions are provided in libraries. 
The structure `from library_name import a_function` lets you use a function defined in the _library_name_ library.

In [12]:
# To import the function cosinus from the library of mathematical functions
from math import cos
cos(4)

-0.6536436208636119

More generally, the structure `from library_name import *` lets you use all the functions defined in the _library_name_ library.

In [13]:
# To import the library of mathematical functions
from math import * 
sqrt(4)

2.0

In [14]:
# In additition to functions, you can also use mathematical constants.
pi

3.141592653589793

NB: The list of functions of the math library is available there:
https://docs.python.org/3/library/math.html#math

## Example 1: Print

In [15]:
print(a+b) # a and b are the variables from exercise 1

8

In [16]:
print("the value of", a,'+',b,"is :", a+b)

the value of 3 + 5 is : 8

In [17]:
x = 32
nom = "John"
print(nom,"a",x,"ans")
# Another way
print(nom + " a " + str(x) + " ans")

John a 32 ans
John a 32 ans

The ease the way we can write the content of the print, Python provides the notion of f-string (formatted string literals), in which variable names can be replaced inside a string. 
A f-string is a string with `f` character before  the  first `"`.

In [18]:
print(f"{nom} a {x} ans")

John a 32 ans

## Example 2: Declaration and initialization of variables and types

_In Python, each variable has a type, determined by its value._

In [19]:
print(type(a)) # a is the variable of ex 1

<class 'int'>

In [20]:
pi = 3,14
print(type(pi))

<class 'tuple'>

In [21]:
pi=3.14
print(type(pi))

<class 'float'>

In [22]:
s = "example of character string"
print(type(s))

<class 'str'>

In [23]:
2 + "1.5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
2 + eval("1.5") # To eliminate preceding error

3.5

In [52]:
2 + float("1.5")

3.5

## Example 3: Manipulation of character strings

In [53]:
s = "an example of string"
s2 = 'another example'
s[1] # Access to the character of index 1 (indices start at zero)

'n'

In [54]:
print(s[0],s2[0])

a a

In [55]:
print(s[4],s2[0])

x a

In [56]:
print(s + " and " + s2) # Concatenation of strings an example of string and another example

an example of string and another example

In [57]:
s3=s + " and " + s2
s3

'an example of string and another example'

In [58]:
s2*2

'another exampleanother example'

In [59]:
print("The length of s is :", len(s))

The length of s is : 20

In [60]:
print(s3)
s3[0:3] # Recuperation of characters of position between 0 and 3

an example of string and another example

'an '

In [61]:
s3[4:8]

'xamp'

In [62]:
print(s3[:3]) # Recuperation of 3 first characters

an

In [63]:
print(s3[3:]) # Recuperation of characters from position 3

example of string and another example

In [64]:
s3[::-1]

'elpmaxe rehtona dna gnirts fo elpmaxe na'

In [65]:
s3.find("example")  # find the index of the first occurence of the string "example"

3

In [66]:
s3.replace("string","chain")

'an example of chain and another example'

## Example 4: Extracting words from a character string

In [67]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

# Loops and conditions

Warning: In Python there is not, as in some languages, an opening or closing bracket to delimit a block of instructions. The blocks of statements in Python are delimited by `:` and then tabs (or simply a space): all statements following a `:` and starting with the same number of tabs belong to the same block of instructions.

## Exercice 2: For loop

In [68]:
for i in range(10):   # don’t forget the colon!!
                        # range(10) provides integer numbers between 0 and 9.
    x = 2             # Do not forget the tabulation
    print(x*i)        # Do not forget the tabulation

0
2
4
6
8
10
12
14
16
18

**Question:** Write a loop that enables to calculate the sum of the 23 first integers.

## Exercise 3: While loop

In [69]:
a=0
while(a<7):
    a=a+1
    print(a, a**2,a**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343

**Question:** calculates the factorial of 12 (`12!`) using a while loop.

## Exercise 4: Condition IF/Then/Else

In [70]:
a=0
if a==0:
    print("0")
elif a==1:
    print("1")
else:
    print("2")

0

**Question:** Write and test the previous code with different values of a.

# Input / Output

## Example 5

In [71]:
s = input()      # Do not forget to press Enter at the end of your input
s

d

'd'

In [72]:
s = input("Enter a sentence : ")
s

Enter a sentence : ee

'ee'

In [73]:
a = int(input("A number: "))        # input returns a string object, 
b = int(input("Another number: "))  # it needs to be casted into an integer to be used  in computations

a+b

A number: 2
Another number: 4

6

## Exercise 5:

**Question:** Write a script that enables to obtain the following result (it asks the user for a sentence and reverse it):
```
Write a sentence :  une chaine

The reversed sentence is:
eniahc enu
```

# Data structures

## Exercise 6: Manipulation of lists

Write and test

In [74]:
a_list=["lundi", 2, "janvier"]
print(a_list)

['lundi', 2, 'janvier']

In [75]:
print(a_list[0])
print(a_list[-1])
print(a_list[2])

lundi
janvier
janvier

In [76]:
len(a_list)

3

In [77]:
a_list.append(2010)
a_list

['lundi', 2, 'janvier', 2010]

In [78]:
a_list[3] = a_list[3] + 1
print(a_list[3])
print(a_list)

2011
['lundi', 2, 'janvier', 2011]

In [79]:
del a_list[0]
a_list

[2, 'janvier', 2011]

In [80]:
a_list.insert(0,"mardi")
a_list

['mardi', 2, 'janvier', 2011]

In [81]:
print("mardi" in a_list)
print("lundi" in a_list)

True
False

In [82]:
a_list.index("mardi")

0

In [83]:
list2 = a_list[1:3]
print(list2)

[2, 'janvier']

In [84]:
list3 = a_list[:2]
print(list3)

['mardi', 2]

In [85]:
list4 = a_list[1:]
print(list4)

[2, 'janvier', 2011]

In [86]:
list5 = a_list[-3:-1]
print(list5)

[2, 'janvier']

In [87]:
list6 = a_list[:-1]
print(list6)

['mardi', 2, 'janvier']

In [88]:
print(list3)
list3 = list3 + [2011]
print(list3)

['mardi', 2]
['mardi', 2, 2011]

In [89]:
list7 = 3 * a_list
print(list7)

['mardi', 2, 'janvier', 2011, 'mardi', 2, 'janvier', 2011, 'mardi', 2, 'janvier', 2011]

In [90]:
a_list.extend([3,4])
print(a_list)

['mardi', 2, 'janvier', 2011, 3, 4]

In [91]:
elt = a_list.pop(0)
print(elt)
print(a_list)

mardi
[2, 'janvier', 2011, 3, 4]

In [92]:
a_list = [1,2,3]
list2 = a_list     # Warning list and list2 correspond to the same list!!
a_list[1] = 42

print(a_list)
print(list2)

[1, 42, 3]
[1, 42, 3]

In [93]:
a_list = [1,2,3]
list2 = a_list.copy()     # list2 is a copy of list
a_list[1] = 42

print(a_list)
print(list2)

[1, 42, 3]
[1, 2, 3]

In [94]:
a_list = [1,"ab",[1,True]]      # imbricated list
print(a_list)
print(a_list[2])

[1, 'ab', [1, True]]
[1, True]

In [95]:
print(list(range(10)))
print(list(range(1,10)))
print(list(range(1,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 7]

## Example 6: Typing inputs

In [96]:
a_list = [input(),input(),input()]
a_list

34
4
5

['34', '4', '5']

In [97]:
a_list = input("Type elements of the list separated by a comma(ex. 1,2,'abc') :").split(',')
a_list

Type elements of the list separated by a comma(ex. 1,2,'abc') :sjkfks,234j,sdf

['sjkfks', '234j', 'sdf']

In [98]:
a_list = [int(x) for x in input("Type integers separated by a comma (ex. 1,2,8) :").split(',')]
a_list

Type integers separated by a comma (ex. 1,2,8) :2,5,3,14

[2, 5, 3, 14]

## Exercise 7

**Question:** Write a program that asks the user to enter student marks. If the user enters a negative value, the program stops. On the other hand, for each mark entered, the program progressively builds a list. After each entry of a new mark (and therefore every iteration of the loop), it displays the number of marks entered, the highest mark, the lowest mark, the average of all the marks. 

**Tip:** 

* To create an empty list, it is sufficient to set the command: `line = []`.
* You can use functions `min(li)` and `max(li)` to compute the minimum and maximum of a the list `li`.
* You can use the function `mean(li)` (from the library statistics) to compute the average of a list `li`.   (`from statistics import mean`)

## Exercise 8: Dictionnary

Write and test.

_Note: a list is a set of values (that can be accessed by its index). A dictionnary is also a set of values, that can be accessed by any key._

In [99]:
dico = {} # empty dictionnary
dico["computer"] = "ordinateur"
dico["mouse"] = "souris"
dico["keyboard"] = "clavier"
print(dico)

{'computer': 'ordinateur', 'mouse': 'souris', 'keyboard': 'clavier'}

In [100]:
print(dico.keys())
print(dico.values())
print(dico.items())
print(len(dico))

dict_keys(['computer', 'mouse', 'keyboard'])
dict_values(['ordinateur', 'souris', 'clavier'])
dict_items([('computer', 'ordinateur'), ('mouse', 'souris'), ('keyboard', 'clavier')])
3

In [101]:
del dico["mouse"]
print(dico)

{'computer': 'ordinateur', 'keyboard': 'clavier'}

In [102]:
"computer" in dico

True

In [103]:
for clef in dico:
    print(clef)

computer
keyboard

In [104]:
for clef in dico:
    print (clef, dico[clef])

computer ordinateur
keyboard clavier

In [105]:
for clef, value in dico.items():
    print(clef, value)

computer ordinateur
keyboard clavier

In [106]:
dico = {"ordinateur": "computer", "souris" : "mouse"}
print(dico)

{'ordinateur': 'computer', 'souris': 'mouse'}

In [107]:
dico2 = dico # Warning dico and dico2 correspond to the same dictionnary
print(dico)
print(dico2)
del dico2["ordinateur"]
print(dico)
print(dico2)

{'ordinateur': 'computer', 'souris': 'mouse'}
{'ordinateur': 'computer', 'souris': 'mouse'}
{'souris': 'mouse'}
{'souris': 'mouse'}

In [108]:
dico = {"ordinateur": "computer", "souris" : "mouse"}
dico3 = dico.copy() # dico3 is a copy of referenced dictionnary by dico!
print(dico)
print(dico3)
del dico["ordinateur"]
print(dico)
print(dico3)        #  dico3 is not altered by the modification of dico

{'ordinateur': 'computer', 'souris': 'mouse'}
{'ordinateur': 'computer', 'souris': 'mouse'}
{'souris': 'mouse'}
{'ordinateur': 'computer', 'souris': 'mouse'}

# Reference and adresses

In python, everything is object, including values. Variables are references to values.

In [109]:
id(2)     # display the adress of the value 2

4483828096

In [110]:
b = 2
id(b)             # the variable 'b' has the same adress than the value 2

4483828096

In [111]:
c = b
id(c)             # the variable 'c' has the same adress than the value 2

4483828096

In [112]:
c = 3
print( id(c) )            # the address of 'c' has changed
print( id(3) )            # 'c' has the same address as 3

4483828128
4483828128

In [113]:
a_list = [1,2,3]
print( id(a_list) )
print( id([1,2,3]) )

140625425228736
140625425231616

In [114]:
list2 = a_list
id(list2)            # a_list and list2 have the same adress

140625425228736

In [115]:
list3 = [1,2,3]
print( id(list3) )

140625425340864

In [116]:
print(id(a_list[0]))
print(id(list3[0]))        # adress of list[0] and list3[0]
print(id(1))

4483828064
4483828064
4483828064

In [117]:
a_list is list2          # To test the memory identity

True

In [118]:
a_list[0] is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-118-ca29739e0316>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a_list[0] is 1

True

In [119]:
a_list is list3       # list and list3 correspond to the same list
                      # but at two different memory places

False

# Functions

A list of existing Python functions is available online at:
https://docs.python.org/3/library/functions.html

## Exercise 9: Define a function without parameter

Write and test.

In [120]:
def my_fct():
    n = 6
    while n > 0:
        print(n/2,n%2)
        n = n-1

In [121]:
my_fct() # Call the function

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

## Exercise 10: Define a function without parameter calling another function

Write and test.

In [122]:
def my_fct2():
    print("Display the result and the remaining of the division of integer division by 10")
    my_fct()

In [123]:
my_fct2()

Display the result and the remaining of the division of integer division by 10
3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

## Exercise 11: Define a function with 1 parameter

Write and test.

In [124]:
def my_fct3(n):
    while n>0:
        print(n/2,n%2)
        n=n-1

In [125]:
my_fct3(6)

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

In [126]:
my_fct3(2)

1.0 0
0.5 1

## Exercise 12: Define a function with 2 parameters

Write and test.

In [127]:
def my_fct4(number,divisor):
    while(number>0) :
        print(number/divisor, number%divisor)
        number=number-1

In [128]:
my_fct4(6,2)

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

## Exercise 13

Write and test.

In [129]:
def display3times(arg):
    print(arg, arg, arg)

In [130]:
display3times(3)
display3times("exemple")
display3times([3,4])
display3times(3*4)

3 3 3
exemple exemple exemple
[3, 4] [3, 4] [3, 4]
12 12 12

## Exercise 14

**Question:** Define a function that computes the volume of a sphere and print it (the radius is a parameter of the function).

## Exercise 15 : Default value of parameters

Write and test.

In [131]:
def my_fct5(number,divisor=2):
    while(number>0) :
        print(number/divisor, number%divisor)
        number=number-1

In [132]:
my_fct5(4)

2.0 0
1.5 1
1.0 0
0.5 1

In [133]:
my_fct5(4,2)

2.0 0
1.5 1
1.0 0
0.5 1

## Exercise 16

Write and test.

In [134]:
def my_fct6(number=6,divisor=2):
    while(number>0) :
        print(number/divisor, number%divisor)
        number=number-1

In [135]:
my_fct6()

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

In [136]:
my_fct6(6)

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

In [137]:
my_fct6(6,2)

3.0 0
2.5 1
2.0 0
1.5 1
1.0 0
0.5 1

## Exercise 17: returned value

Write and test.

_Note: a function is dedicated to compute values and returns a value (this value can be used in the next instructions of the script)._

In [138]:
def product(n,p):
    return n*p

In [139]:
a = product(3,6)
a

18

## Example 8: varying number of parameters

In [140]:
def fonction_test(*args):
    print("type de args :",type(args))
    for arg in args:
        print("paramètre:", arg)

In [141]:
fonction_test()

type de args : <class 'tuple'>

In [142]:
fonction_test(1)

type de args : <class 'tuple'>
paramètre: 1

In [143]:
fonction_test(1,"a")

type de args : <class 'tuple'>
paramètre: 1
paramètre: a

In [144]:
fonction_test(1,"a",3)

type de args : <class 'tuple'>
paramètre: 1
paramètre: a
paramètre: 3

## Exercise 18

**Question:** Write a function that computes the sum of the integers passed in parameters.

In Python there are two types of objects: mutable such as lists, dictionaries, etc., which can be modified after their creation, and the immutable such as Strings, int, floats, tuples, etc., which cannot be modified after their creation.

## Exercise 19

Type the code for these functions into a file, run it and analyze the result.

In [145]:
def incr(a):
    print("adresse a: ",id(a))
    a = a+1
    print("Dans la fonction a =",a)

def add(l):
    l = l.append(5)

In [146]:
a = 3
print("adresse a: ",id(a))
incr(a)
print("Apres l’appel a=",a)

adresse a:  4483828128
adresse a:  4483828128
Dans la fonction a = 4
Apres l’appel a= 3

In [147]:
l=[1,2,3]
add(l)
print("l=: ",l)

l=:  [1, 2, 3, 5]

## Example 9: wrong exchange function

In [148]:
def exchange(a,b):
    print("adresses of parametres : ", id(a),id(b))
    c=a
    a=b
    b=c

In [149]:
x,y = 2,3
print("adresses of x and y : ", id(x),id(y))
exchange(x,y)
print("x=",x)
print("y=",y)

adresses of x and y :  4483828096 4483828128
adresses of parametres :  4483828096 4483828128
x= 2
y= 3

If you run the previous code, you will see that the variables x and y have not been exchanged
because they are non-immutable variables.

## Example 10: An exchange function that works

In [150]:
def exchange2(a,b):
    c = a
    a = b
    b = c
    return a,b

In [151]:
x,y = 2,3
x,y = exchange2(x,y)    # values of x and y have been exchanged as
                        # their values are modified there
print("x =",x)
print("y =",y)

x = 3
y = 2

## Exercise 20: Anonymous function

Write and test.

In [152]:
def f (x): 
    return x**2
print(f(8))

64

In [153]:
g = lambda x: x**2
print(g(8))

64

In [154]:
(lambda x: x**2)(8)

64

In [155]:
def make_incrementor (n): 
    return lambda x: x + n

In [156]:
f = make_incrementor(2)
g = make_incrementor(6)
print(f(42), g(42))
print(make_incrementor(22)(33))

44 48
55

# Files

## Example 11: Change the working directory of the interpreter

In [158]:
from os import chdir
chdir("/Users/benoitgaudou/ownCloud/Travail/_Enseignement/Enseignement UT1/2021 - 2022/M1 - Eco - Stat - Software/Supports/21 - Tutorials")

## Exercise 21: Manipulating files

The `open` function allows to open a file, in  order to read from it or to write in it.

Write and test.

In [183]:
f = open("test.txt","w")   # to open a file in write mode
f.write("Hello\n")         # to write in a file
f.write("This is a test to write in a file")
f.close()       # To close the file
                # check the file in a text editor

In [184]:
f = open("test.txt","r") # to open a file in read mode
b = f.read() # To read the whole file
print(b)
f.close() # To close the file

Hello
This is a test to write in a file

In [185]:
f = open("test.txt","r") # to open a file in read mode
b=f.read(3) # To read 3 characters
# from the current position of the cursor
print(b)
f.close()

Hel

In [186]:
f = open("test.txt","r")
b = f.readline() # To read a line in the file
print(b)
f.close()

Hello

In [187]:
f = open("test.txt","r")
b = f.readlines() # To read all the lines and store them in a list
print(b)
f.close()

['Hello\n', 'This is a test to write in a file']

In [188]:
f = open("test.txt","a") # To open a file in add mode
f.write("\nEnd")
f.close()

In [189]:
f=open("test.txt","r")
b = f.readlines()
print(len(b))
print(b)
f.close()

3
['Hello\n', 'This is a test to write in a file\n', 'End']

In [194]:
f = open("test.txt","r")
print(f.read())      # To read all the file
print("===> END of the first reading")
print(f.read())
print("===> END of the second reading")
f.close()

Hello
This is a test to write in a file
End
===> END of the first reading

===> END of the second reading

## Exercise 22: Copying files

**Question:** Write a program that enables to copy a file.

## Exercise 23: Copy variables in a file

Write and test.

In [166]:
a = 5
b = 2.83
c = 67
f = open("test.txt", "w")
f.write(str(a) + "\n") # To write an int converted to string
f.write(str(b) + "\n")
f.write(str(c) + "\n")
f.close()

In [167]:
f = open("test.txt", "r")
print(f.read())
f.close()

5
2.83
67

In [168]:
import pickle # To import a module to keep variables types
f = open("Myfile", "wb") # open a binary file
pickle.dump(a, f) # to record in the file
pickle.dump(b, f) # equivalent to write but keeping the type of b
pickle.dump(c, f)

In [169]:
f = open("Myfile", "rb")
print(f.read())
f.close()

b'\x80\x04K\x05.\x80\x04\x95\n\x00\x00\x00\x00\x00\x00\x00G@\x06\xa3\xd7\n=p\xa4.\x80\x04KC.'

In [170]:
f = open("Myfile", "rb")
t = pickle.load(f) # Operation inverse of dump
print(t, type(t))
t = pickle.load(f) # Equivalent to read but keeping the type of b
print(t, type(t))
t = pickle.load(f)
print(t, type(t))
f.close()

5 <class 'int'>
2.83 <class 'float'>
67 <class 'int'>